*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
img,
p,
h1,
span,
del,
button,
svg,
footer {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh !important;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
}

/*END RESET CSS*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    overflow: hidden;
    min-height: 100vh;
}

main {
    width: 375px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}

img {
    transform: scaleY(0.65);
}

/*END SECTION TOP*/

.information {
    margin: 1.5em;
}

.product {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin: 0.5em;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: Fraunces, sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

.description {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    padding: 1em 0;
    color: hsl(228, 12%, 48%);
}

.disconunt {
    display: flex;
}

.price {
    font-family: Fraunces, sans-serif;
    font-size: 2.5rem;
    color: hsl(158, 36%, 37%);
}

.sr-only {
    visibility: hidden;
}

del {
    font-family: Montserrat, sans-serif;
    color: hsl(228, 12%, 48%);
}

button {
    display: block;
    width: 100%;
    padding: 1em;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    margin: 1.5em 0;
    cursor: pointer;
}

button:active {
    background-color: hsl(158, 36%, 18%);
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
}

@media (min-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        display: block;
        width: 45rem;
    }

    .image {
        display: flex;
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

    img {
        transform: scaleY(1);
    }

    .information {
        position: relative;
        width: 50%;
        float: right;
        margin: auto;
        padding: 0.8em 2.5em;
    }

    .product {
        font-size: 0.9rem;
        letter-spacing: 0.4em;
        margin: 17px 0;
    }

    .description {
        font-size: 1rem;
        padding: 1.8em 0;
    }

    .price {
        font-size: 2.2rem;
    }

    button {
        width: 100%;
    }
}