/* ==== Reset ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== Variables ==== */

:root {
    --color-darkCyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);
    --color-veryDarkBlue: hsl(212, 21%, 14%);
    --color-darkGrayiashBlue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
    --font-monserrat: 'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', sans-serif;
}


body {
    background-color: var(--color-cream);
    width: 100vw;
    height: 100vh;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.product-card {
    width: 22rem;
    height: 100%;
    background-color: var(--color-white);
}

.product-image {
    width: 100%;
    border-radius: 0.65rem 0.65rem 0 0;
}

.image-desktop {
    display: none;
}

.details {
    padding: 1.2rem 1.8rem;
}

.product {
    color: var(--color-darkGrayiashBlue);
    font-family: var(--font-monserrat);
    text-transform: uppercase;
    letter-spacing: 0.28rem;
    font-size: 0.675rem;
}

.product-name {
    font-family: var(--font-fraunces);
    font-size: 2rem;
    color: var(--color-veryDarkBlue);
    line-height: 1;
    padding: 1rem 0;
}

.product-description {
    font-family: var(--font-monserrat);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--color-darkGrayiashBlue);

}

.product-price {
    display: flex;
    align-items: center;
}

.price {
    font-family: var(--font-fraunces);
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-darkCyan);
}

.old-price {
    font-family: var(--font-monserrat);
    font-size: 0.9rem;
    color: var(--color-darkGrayiashBlue);
    margin: auto 1rem;
    margin: 1.5rem;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 0.625rem;
    background-color: var(--color-darkCyan);
    color: var(--color-white);
    font-family: var(--font-monserrat);
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}

.btn-text::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(./images/icon-cart.svg);
    vertical-align: middle;
    margin: 0 0.5rem;
}

button:active,
button:hover {
    background-color: hsl(158, 25%, 25%);
}

@media (min-width: 768px) {
    body {
        overflow: hidden;
    }

    .flexbox-row {
        display: flex;
        flex-direction: row;
    }

    .product-card {
        width: 32rem;
        justify-content: center;
        border-radius: 0.65rem;
    }

    .product-image {
        width: 50%;
        border-radius: 0.65rem 0 0 0.65rem;
    }

    .image-mobile {
        display: none;
    }

    .image-desktop {
        display: block;
    }
}